WEBSITE_SITE_NAME=My Website
WEBSITE_SITE_URL=http://localhost:3001
WEBSITE_AVATAR_URL=http://localhost:8989/media/avatar.png
WEBSITE_DEFAULT_TITLE=My Website
WEBSITE_DEFAULT_DESCRIPTION=Public reader
WEBSITE_DEFAULT_LOCALE=en
WEBSITE_PUBLIC_GRAPHQL_API_URL=http://localhost:8989/graphql/immutable
WEBSITE_PUBLIC_GRAPHQL_CACHE_API_URL=http://localhost:8989/graphql/cache
WEBSITE_PUBLIC_MEDIA_BASE_URL=http://localhost:8989/media
WEBSITE_PORT=3001
